body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #6a11cb, #2575fc);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            margin: 0;
        }
        header{
            padding: 20px;
            text-align: center;
            margin-bottom: auto;
        }

        .container {
            background: white;
            justify-content: center;
            padding: 25px;
            width: 350px;
            text-align: center;
            margin-right: auto;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
        }

        h2 {
            color: #333;
        }

        input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }

        select {
            width: 95%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            background: #2575fc;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            
        }

        button:hover {
            background: green;
        }

        .result {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
        }

        
    

        
       
        footer{
            bottom: 0;
            position: fixed;
            background-color: red;
            text-align: center;
            margin: 0;
            width: 100%;
        }